<div class="container">
  <form action="/photo" method="post" enctype="multipart/form-data">
    <label>Photo: </label><input type="file" name="photo" />
    <button type="submit">Upload</button>
  </form>
</div>